@charset "ISO-8859-1";

h1{ 
	
	 
	font-weight: normal; 
	text-shadow: 2px 2px 0 #000, margin 10px 0 24px; 
	text-align: center; 
}
body{
	background-color: black;
	margin: auto;
}
#errors{
	width: 270px;
	text-align: center;
	padding: 0px 30px 0px 45px;
	background-color: white;
	border-radius: 15px;
	font-weight: bold;
	margin:auto;
	
}

#errorsShare{
	width: 690px;
	text-align: center;
	padding: 0px 00px 0px 400px;
	border-radius: 15px;
	display: block;
}


#page{
    width: 1500px;
    margin: 0 auto;
    padding: 250px 10px 10px 10px;
    background: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    
}
#pageIndex{
    width: 1500px;
    margin: 0 auto;
    padding: 50px 10px 10px 10px;
    background: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: sans-serif;
    
}

#wrapperWallTop{
    width: 1450px;
    height: 60px;
    border: 5px solid black;
    margin: 0px;
    padding: 20px;
    border-radius: 15px;
    background-image: url("/images/header.png");
    background-size: 750px;
    
    text-align: right;
    font-size: 40px;  
}
#dealwrapperWallTop{
    width: 1450px;
    height: 60px;
    border: 5px solid black;
    margin: 0px;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 40%), #282330;
    font-size: 40px;  
    text-align: right;
}





#wrapperDealWallTop{
    width: 1450px;
    border: 5px solid black;
    margin:auto;
    padding: 85px 20px 20px 20px;
    border-radius: 15px;
    background-image: url("/images/wordbubble1.jpg");
    background-size: 815px;
    text-align: right;
    font-size: 30px;
}
#wrapperShareViews{
    width: 860px;
    height: 75px;
    border: 5px solid black;
    margin:auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
   
}
#wrapperSaid{
	
	text-align:left;
	display: block;
	height: 363px;
	width: 725px;
	padding: 15px 0px 0px 145px;
	font-family: monospace;
	font-size: 14px;
}
#wrapperTalk{
	
	display: block;
	height: 230px;
	width: 820px;
	padding: 0px 0px 0px 515px;
	
}

#wrapperWallShare{
    width: 1450px;
    height: 360px;
    border: 5px solid black;
    padding: 170px 20px 25px 20px;
    border-radius: 5px;
    background-size: 1500px;
    background-image: url("/images/share5.png");
    text-align: center;
    
    
}
#wrapperWallDeal{
    width: 1450px;
    
    border: 5px solid black;
    
    padding: 0px 0px 0px 40px;
    border-radius: 5px;
    background-size: cover;
    background-image: url("/images/deals2.png");
    background-color:white;
    text-align: center;
    
    
}
#wrapperWallShowShare{
    width: 1440px;
    
    border: 5px solid black;
    margin: 0px;
    padding: 0px 25px 0px 25px;
    border-radius: 5px;
    text-align: center;
    display: grid;
    background-image: url("/images/comictile1.png");
    
    
    
}
#wrapperWallShowDeal{
    width: 1450px;
    border: 5px solid black;
    margin:auto;
    padding: 20px;
    border-radius: 5px;
    background-image: url("/images/comictile1.png");
    text-align: center;
    display: grid;     
    margin-right: auto;
}

#wrapperShareViews{
    width: 1450px; 
    height: 10px;   
    padding: 0px;
    border-radius: 5px;
    color: white;
    text-align: center;
    
}

#wrapper1{
    width: 860px;
    height: 515px;
    border: 5px solid black;
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
    background-size: 960px;
    vertical-align:top;
    font-size: 20px;   
}

#wrapper2{
    width: 697px;
    height: 440px;
    border: 5px solid black;
    padding: 20px 20px 20px 20px;
    display: inline-block;
    border-radius: 5px;
    vertical-align:top;  
    text-align: center;
    background-image: url("/images/reg1.png");
    background-size: cover;
    
}
#wrapper3{
	width: 150px;
	height: 240px;
	padding: 140px 20px 0px 120px;    
}
#wrapper4{
	padding: 15px 0px 0px 565px;
}

#wrapper5{
	width: 435px;
	height: 315px;
	text-align: right;
	padding: 30px 0px 0px 20px;
	font-family: courier;
}
#wrapper7{
	width: 420px;
	height: 345px;
	text-align: right;
	padding: 105px 0px 0px 108px;
	font-family: courier;
}
#wrapper8{
	width:550px;
	color: white;
	text-align: center;
	text-shadow:
			-1px -1px 0 #000,
			1px -1px 0 #000,
			-1px 1px 0 #000,
			1px 1px 0 #000;
}
#wrapper9{
	width:600px;
}
#wrapper10{
	width:600px;
	padding: 20px 0px 0px 165px;
	font-family: system-ui;
}
#wrapper6{
	width: 725px;
	height: 350px;
	text-align: center;
	padding: 0px 0px 0px 0px;
}

#profileWallTop{
    width: 1450px;
    border: 5px solid black;
    margin:0px;
    padding: 0px 20px 65px 20px;
    border-radius: 5px;
    background-color: white;
    background-size: 1500px;
    text-align: center;
    font-size: 38px;
    text-align:top;
}
#profileWallTop1{
    width: 1450px;
    border: 5px solid black;
    padding: 0px 20px 120px 20px;
    border-radius: 5px;
    background-image: url("/images/profile4.png");
    background-size: 1500px;
    text-align: center;
    font-size: 26px;
    height: 120px;
    font-family: cursive;
    
    
}

#profileInfo{
	width: 850px;
	border: 5px solid black;
	background-color: white;
	text-align: center;
	display: block;
	margin: inherit;
	font-family: courier;
}

#login1{
    width: 697px;
    height: 440px;
    border: 5px solid black;
    padding: 20px;
    display: inline-block;
    border-radius: 5px;
    background-color: inherit;
    text-align: right;
    background-image: url("/images/login3.png");
    background-size: cover;
    background-repeat: round;
    
   
}

#indexWrapper1{
    width: 1390px;
    height: 140px;
    border: 5px solid black;
    margin:auto;
    padding: 0px 50px 100px 50px;
    border-radius: 5px;
    background-image: url("/images/header1.png");
    font-family: sans-serif;
    background-size: 1550px;
    vertical-align: top; 	
}
#indexWrapper2{
    width: 1390px;
    height: 140px;
    border: 5px solid black;
    margin:auto;
    padding: 0px 50px 100px 50px;
    border-radius: 5px;
    background-image: url("/images/header1.png");
    font-family: sans-serif;
    background-size: 1550px;
    vertical-align: top; 
    text-align: right;	
}
#indexFooter{
    width: 1390px;
    height: 60px;
    border: 5px solid black;
    margin:auto;
    padding: 15px 50px 100px 50px;
    border-radius: 15px;
    background: darkgrey;
    font-size: 15px;
    vertical-align: top;
	background-image: url("/images/footer1.png");
	color:white;
	background-size: cover;
}
#indexFooter2{
    width: 1390px;
    height: 60px;
    border: 5px solid black;
    margin:auto;
    padding: 0px 50px 100px 50px;
    border-radius: 15px;
    background: darkgrey;
    background-size: 900px;
    font-family: sans-serif;
    font-size: 29px;
    vertical-align: top;
	background-image: url("/images/header.png")
}
#viewProfileInfo{
    width: 1385px;
    
    border: 5px solid black;
    margin:auto;
    padding: 0px 50px 20px 50px;
    border-radius: 15px;
    background-image: url("/images/editbackground1.png");
    background-size: 1490px;
    font-family: sans-serif;
    font-size: 20px;
    	
}
#editProfileInfo{
    width: 1390px;
    height: 325px;
    border: 5px solid black;
    margin:0px;
    padding: 38px 50px 100px 50px;
    border-radius: 5px;
	background-image: url("/images/edit2.png");
	background-size: cover;
    font-family: sans-serif;
    font-size: 20px;
    	
}

#editProfileWrapper{
	width: 450px;
	text-align: left;
	padding: 3px 0px 0px 0px;
	font-family: courier;
	
}

.button:hover {
    background-color: #3c3d40;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 15px;
    font-family: courier;
    }
.button {
    background-color: #1f2022; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 15px;
    font-family: courier;
    }
.button1 {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
    

hr.rounded {
  border-top: 8px solid black;
  border-radius: 5px;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    text-align:center;
    color: white;
}
.styled-table thead tr {
    background-image: url("/images/header2.jpeg");
    background-color: black;
    
    text-align: center;
    color: white;
}
.styled-table th{
    padding: 0px 0px;
    border:solid black 10px;
    text-align: center;
    font-family: cursive;
    color: white;
    
}

.styled-table td {
	padding: 15px 35px;
    border:solid black 2px;
    text-align: center;
    font-family: times;
    color: white;
}
.styled-table tbody {
    font-weight: bold;
	background: #242526;
	color: white;

}
tr:nth-child(even) {background-color: #303031;}









